body    {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
h1      {
<<<<<<< Updated upstream
  color: #333;
  text-align: center;
}
p       {
  color: #000000;
  line-height: 1.6;
  margin: 20px;
=======
  color: hwb(41 3% 7%);
  text-align: center;
}
h2      {
  color: hwb(41 3% 7%);
  text-align: center;
}
h3      {
  color: hwb(41 3% 7%);
  text-align: center;
}
h4      {
  color: hwb(41 3% 7%);
  text-align: center;
>>>>>>> Stashed changes
}
a       {
  color: #3498db;
  text-decoration: none;
}  
main {
  border-style: ridge;
  border-width: 2px;
}