  /*----- constants -----*/


  /*----- state variables -----*/


  /*----- cached elements  -----*/


  /*----- event listeners -----*/


  /*----- functions -----*/
  
function init() {
    questions = [
      {
        question: 'Text of question 1',
        answers: ['Answer 1', 'Answer 2', etc.],
        correctAnswer: 0 // index of 'Answer 1'
        playerAnswer: null // this is the property you update when they
                           // click an answer when this is the current question
      },
      {
        question: 'Text of question 2',
        answers: ['Another Answer 1', 'Another Answer 2', etc.],
        correctAnswer: 1 // index of 'Another Answer 2'
        playerAnswer: null // this is the property you update when they
                           // click an answer when this is the current question
      },
    ];
    // TODO: Initialize other state variables, e.g.,
    curQuestionIdx = 0;
    ...
    ...
    render();  // Always call render after state has been initialized/updated
  }